Nested for loop

In [3]:
outer_loop_list = [0, 1]
inner_loop_list = ["a", "b"]


for each_outer_iteration in outer_loop_list:
    print("\n outer loop iteration ", each_outer_iteration, "\n")
    
    for each_inner_iteration in inner_loop_list:
        print("    inner loop iteration ", each_inner_iteration)

 outer loop iteration  0

    inner loop iteration  a
    inner loop iteration  b

 outer loop iteration  1

    inner loop iteration  a
    inner loop iteration  b

In [ ]:
outer_loop_list = [0, 1, 2, 3]
inner_loop_list = [0, 1, 2, 3]


for each_outer_iteration in outer_loop_list:
    print("\nouter loop iteration ", each_outer_iteration, "\n")
    
    for each_inner_iteration in inner_loop_list:
        print("    inner loop iteration ", each_inner_iteration)

for loop with dict

In [ ]:
fruit_price = {'apple':3,'banana':1,"grape":5}

for fruit, price in fruit_price.items():
    print(fruit, price)

In [ ]:
for fruit in fruit_price.keys():
    print(fruit)
    print(fruit_price[fruit])

In [ ]:
for price in fruit_price.values():
    print(price)

If we want to print out **Jan, Feb, Mar**, how to write code?

In [4]:
months = {"Jan": 1, "Feb": 2, "Mar": 3}

If we want to print out **1,2,3**, how to write code?

search patterns

In [5]:
student_name = 'James'
name_score_dict = {'James' : 90, "Jules" : 55, "Arthur" : 77}

In [ ]:
if student_name in name_score_dict:
    print(name_score_dict[student_name])
else:
    print("nope nada")

In [6]:
for name, score in name_score_dict.items():
    if student_name == name:
        print(score)

90

`break` and `continue` in for loop

In [ ]:
for i in ['apple', 1, 2]:
    print(i)
    if i == 1:
        break

apple
1

In [ ]:
for i in ['apple', 1, 2]:
    
    if i == 1:
        continue
    print(i)

apple
2

In [ ]:
student_name = 'James'
name_score_dict = {'James' : 90, "Jules" : 55, "Arthur" : 77}

for name, score in name_score_dict.items():
    if student_name == name:
        print(score)
        break