Variables

In [2]:
distance_to_london_miles = 403
mile_to_km = 1.60934
distance_to_london_km = distance_to_london_miles * mile_to_km
print(distance_to_london_km)

648.56402

In [3]:
marathon_distance_miles = 26.219
maraton_distance_km = marathon_distance_miles * mile_to_km
print(maraton_distance_km)

42.19528546

Variables and Types

Now try assigning each type of the 3 values into 3 different variables following the `snake_case` naming convention

`print()` out the 3 variables assigned.

Type Casting  

create an `integer variable` and a `string variable`, then cast the `integer variable` into a `string variable`, and concatenate them together  

you would need to use `str()`

Arithemetic operations:  

try out some of the arithmetic operators in the table, play around with them

Comparison operators  
define a few variables of `same type`, then try using the comparison operatos on them, what do you find?

try to compare 2 emojis using any of the relational operators

In [19]:
print("\U0001F643")
print("\U0001F923")
print("\U0001F929")

ðŸ™ƒ
ðŸ¤£
ðŸ¤©

In [20]:
"\U0001F643" > "\U0001F923"

False

Logical Operators

In [21]:
True and True

True

In [22]:
True and False

False

In [23]:
True or False

True

In [24]:
False or False

False

***Strings***  

create a string type variable and print out the data type of it below

In [ ]:
#print(type(string_variable_you_created))